body{
    background-color: #fff;
}

.container{
    background-color: #000;
    height: 425px;
    margin: 20px;
    border-radius: 30px;
}
.header{
   
}

.title{
    font-family: "Handjet", sans-serif;
    font-weight: 700;
    font-size: 140px;
    color:chartreuse;
    text-align: center;
    text-shadow: rgba(240, 46, 170, 0.4) 0px 40px, rgba(240, 46, 170, 0.3) 0px 80px, rgba(240, 46, 170, 0.2) 0px 120px, rgba(240, 46, 170, 0.1) 0px 140px, rgba(240, 46, 170, 0.05) 0px 180px;
}
.title a{
    text-decoration: none;
    color: chartreuse;
}

nav {
    font-family: "Handjet", sans-serif;
    color:chartreuse;
    margin-top: 150px;
    border-radius: 50px;
    border: 1px 0px ,solid,#fff;
    
}

.navigation {
  list-style: none;
  display: flex;
  justify-content: space-evenly;    
}

.navigation .main_page{
    text-decoration: none;
    text-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    transition: 0.5s;
}

.navigation a {
  text-decoration: line-through ;
  color:chartreuse;
  font-size: 40px;
  transition: color 0.3s;
}

.navigation a:hover {
    text-decoration: none;
    text-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    transition: 0.5s;
    
}

.number_hw{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    color:chartreuse;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 1%;
    
    
}

.info{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    height: 100%;
   max-height: 100px;
    
    
}
.control_sys{
    background-color: #000;
    width: 45%;
    border-radius: 30px;
    height: 100%;
}


.control_sys li{
    color: #fff;
     font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 25px;
    margin-left: 20px;
    line-height: 40px;
    letter-spacing: 10%;
    margin-bottom: 15px;
    padding: 10px;
}

b{
    color:chartreuse;
}

title{
     font-family: "Handjet", sans-serif;
    margin-top: 40px;
    font-size: 50px;
    font-weight: 600;
    color: chartreuse;
    display: block;
    text-align: center;
}

.about_git{
    background-color: #000;
    width: 45%;
    border-radius: 30px;
    height: 450px;
    overflow: hidden;
}

.about_git li{
        color: #fff;
     font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 25px;
    margin-left: 20px;
    line-height: 40px;
    letter-spacing: 10%;
    margin-bottom: 15px;
    padding: 10px;
}
.about_git:hover{
    overflow: visible;
    height: 100%;
    transition: 3s;
}















